@charset "UTF-8";
body {
  color: #1A1C24; }

.logo {
  margin: 10px; }
  .logo img {
    width: 200px; }

.container {
  margin: 10px; }

.header,
.content,
.footer,
form {
  display: flex;
  flex-direction: row; }

@media (max-width: 600px) {
  .header,
  .content {
    flex-direction: column; } }

form {
  justify-content: space-between; }

h1 {
  font-size: 1.3em;
  margin: 5px; }

p {
  margin: 5px; }

.title > div,
.header > div,
.content > div,
.footer > div {
  width: 320px;
  padding: 5px;
  margin: 5px;
  background: #EFEFEF; }

.footer > div {
  background: #FFF; }

.image-preview {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

button.label {
  border: none; }

.label {
  background: white;
  padding: 5px;
  margin: 3px;
  font-size: 0.8em; }
  .label.high {
    font-weight: bold; }
  .label.low {
    color: #888; }

.status > span {
  display: block;
  padding: 8px;
  font-size: 0.8em; }

.submit-button {
  border: 0;
  outline: none; }

.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.file-input + label, .submit-button, button.label {
  text-transform: uppercase;
  padding: 8px;
  font-size: 0.7em;
  font-weight: 700;
  color: white;
  background-color: #555;
  display: inline-block; }

.file-input:focus + label,
.file-input + label:hover,
.submit-button:focus,
.submit-button:hover {
  background-color: #333; }

.file-input + label {
  cursor: pointer; }

.careers-link {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none; }
  .careers-link span::before {
    content: "»";
    margin-right: 5px; }

#video-container,
#preview-container {
  min-height: 180px; }
  #video-container span,
  #preview-container span {
    font-size: 12px; }

.info {
  font-size: 12px; }
